:root{
    .darkMode {
        background-color: black;
        color: white;
        
    }
}
body{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    


    
}

.switch {
    position:relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}
/* this input hides the default checkbox */ 

 .slider {
   position: absolute;
   content: "";
   height: 26px;
   width: 50px;
   left: 4px;
   bottom: 4px;
   background-color: rgb(231, 19, 19);
   -webkit-transition: .4s;
   transition: .4s;
} */

input:checked + .slider {
    /* background-color: #21b8f3; */
    position: absolute;
   content: "";
   height: 26px;
   width: 50px;
   left: 4px;
   bottom: 4px;
   background-color: rgb(231, 19, 19);
   -webkit-transition: .4s;
   transition: .4s;
}

input:focus + .slider {
    box-shadow: 0 0 1px #21f32c;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.slider.round:before {
    border-radius: 50%;
}






.blogs{
   
    gap:2rem;
    flex-wrap: wrap;

}
.blogs>*{
    flex:1;
}

.blog-card{
   display:flex;
   flex-wrap: wrap;
    padding: 1rem;
    max-width: 50rem;
    min-width: 10rem;
    border-radius: 6px;
    box-shadow: 3px 3px 6px rgba(0,0,0,0.6) ;

}

